.dash-elements {
  //border-style: solid;
  //border-color: blue;
  height: 23%;
  width: 65%;
  float: right;
  margin-right: 1%;
  margin-top: 0.5%;

  #elements-image {
    height: 100%;
  }
}

/*
.elements-zoom {
  transition: transform 0.2s; 
}

.elements-zoom:hover {
  transform: matrix(1.55, 0, 0, 1.5, -320, -50);
}*/
