.dash-items {
  border-style: solid;
  border-color: yellowgreen;
  height: 60%;
  width: 59%;
  float: right;
  margin-top: 2%;
  margin-right: 2%;
  margin-bottom: 1%;

  #item-chart-image {
    height: 100%;
  }
}
